*.iml
.gradle
/local.properties
.idea/codeStyles
.idea/inspectionProfiles
.idea/modules
.idea/*.xml
.idea/.name
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
**/compose_metrics

markymark/release
markymark/.idea
sample/release
sample/.idea
